<div class="card rounded-5 shadow border-white p-5">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-5 offset-lg-1">
                {{ include('security/_login_form.html.twig') }}
            </div>
            <div class="col-12 col-lg-6">
                <img src="{{ asset('build/login.png') }}" alt="login-image" class="d-lg-block d-none img-fluid">
            </div>
        </div>
    </div>
</div>
