{% extends 'base.html.twig' %}

{% block title %}{{ 'signup'|trans }}{% endblock %}

{% block body %}
    <header style="min-height: calc(100vh - 40px);" class="bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 py-5">
                    <div class="card rounded-5 shadow border-white p-5">
                        <div class="card-body">
                            <div class="row">
                                {% block securityCardContent %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
