{% extends 'security/layout.html.twig' %}

{% block title %}{{ 'login'|trans }}{% endblock %}

{% block securityCardContent %}
    <div class="col-12 col-lg-5 offset-lg-1">
        {{ include('security/_login_form.html.twig') }}
    </div>
    <div class="col-12 col-lg-6">
        <img src="{{ asset('build/login.png') }}" alt="login-image" class="d-lg-block d-none img-fluid">
    </div>}
{% endblock %}
