$primary: #DA9152;
$secondary: #F2F4F8;

$border-radius: 1rem;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./buttons";

.text-white-80 {
  --bs-text-opacity: 1;
  color: rgba(255, 255, 255, 0.8) !important;
}

.text-black-60 {
  --bs-text-opacity: 1;
  color: rgba(0, 0, 0, 0.6) !important;
}

.z-index-1 {
  z-index: 1;
}

.fw-semibold {
  font-weight: 550 !important
}