{% extends 'base.html.twig' %}

{% block title %}{{ 'find_us'|trans }}{% endblock %}

{% block body %}
    <header style="min-height: calc(100vh - 40px);" class="bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 py-4">
                    {{ include('contact/_card_1.html.twig') }}
                </div>
                <div class="col-12 col-md-10 offset-md-1 py-4">
                    {{ include('contact/_card_2.html.twig') }}
                </div>
            </div>
        </div>
    </header>
{% endblock %}
