{% extends 'base.html.twig' %}

{% block title %}{{ 'find_us'|trans }}{% endblock %}

{% block body %}
    <header style="min-height: calc(100vh - 40px);" class="bg-light text-center">
        <div class="px-5 py-5">
            <h1>{{ 'find_us'|trans }}</h1>
            <div class="row mt-5">
                <div class="col-12 col-md-6  mt-4">
                    <div class="card h-100">
                        <h5 class="card-header">{{ 'markets'|trans }}</h5>
                        <div class="card-body">
                            <p class="card-text">
                                Retrouvez nous au marché de St Pierre d'Albigny, tous les vendredis matin de 8h à 12h !
                                <br/>
                                A PARTIR DU MOIS DE MAI 2021
                                <br/>
                                Vous pourrez retrouver nos fruits et légumes, bouquets de fleurs, pains et farines de la
                                semaine.
                                Vous
                                avez également la possibilité de retirez vos commandes, passées sur notre site internet,
                                sur
                                le
                                stand.
                                <br/>
                                À bientôt!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6  mt-4">
                    <div class="card h-100">
                        <h5 class="card-header">{{ 'farm_sales'|trans }}</h5>
                        <div class="card-body">
                            <p class="card-text">
                                La Ferme de Ponturin vous accueille sur son stand à la ferme, tous les samedis matins de
                                8h
                                à
                                12h30.
                                <br/>
                                A PARTIR DU MOIS DE MAI 2021
                                <br/>
                                Vous pourrez retrouver nos fruits et légumes, bouquets de fleurs, pains et farines de la
                                semaine
                                et
                                retirez vos commandes.
                                <br/>
                                À bientôt!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
