{% extends 'base.html.twig' %}

{% block title %}{{ 'the_farm'|trans }}{% endblock %}

{% block body %}
    <header style="min-min-height: calc(100vh - 40px);" class="bg-light"
    >
        <div class="container px-5 py-5">
            <h1 class="text-center">{{ 'the_farm'|trans }}</h1>
            <div class="row mt-4">
                <div class="card p-4">
                    <p class="lead ">
                        La ferme est située dans <b>le sud de la Savoie</b>, dans la petite vallée du Gelon, au pied du
                        massif
                        de
                        Belledonne, sur la commune de Chamoux-sur-Gelon.
                        <br/><br/>
                        Nous sommes Kelly et Amaury. <b>Nous cultivons des fleurs, des fruits, des légumes et des
                            céréales.</b>
                        <br/><br/>
                        A la ferme, vous trouverez aussi Moon, notre chienne, Tchin-Tchin, notre chat, nos vingt poules
                        et
                        Maurice, ancien exploitant des champs, toujours présent pour donner un petit coup de main.
                        <br/><br/>
                        Nous produisons tous nos plants dans notre pépinière, en privilégiant des variétés rustiques,
                        originales
                        et savoureuses.
                        <br/><br/>
                        Nos pratiques agricoles, dites de "sol vivant", visent à minimiser les dérangements causés à la
                        microfaune du sol et à favoriser son développement par tous les moyens, afin de construire une
                        fertilité
                        durable, sans apport d'engrais minéraux.
                        <br/><br/>
                        Nous avons commencé cette aventure en 2020, après avoir obtenu notre diplôme d'horticulture. En
                        2021,
                        nous entrons en conversion pour l'obtention de la certification <b>"agriculture biologique"</b>.
                    </p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
